{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["babel", "react", "flowtype"],
  "env": {
    "jest": true,
    "node": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "semi": [2, "never"],
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0
  }
}
