{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["react", "flowtype"],
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "semi": [2, "never"]
  }
}
