language: node_js

node_js:
  - 9"

dist: trusty

sudo: false  

addons:
  chrome: stable

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

cache:
  yarn: true
  directories:
    - node_modules

install:
  - yarn

script:
  - yarn test
